#b1{
	background-color:Black;
}

#logo{
	text-align:center;
}
#logo{
	
}
#sponsLeft{
	padding-right:100px;
}
#sponsRight{
	padding-left:100px;
}
#menu{
	color:white;
	text-align:center;
	list-style-type: none;
	margin: 0; 
    padding: 0;
	padding-top:70px;
}
#menu li{
	font-family:courier;
	display: inline;
	font-size:500%;
}

#menu li a { 
	color:white;
	text-decoration:none;
	padding: 80px;
 }
 
 #menu li a:hover{
color:red;
}
#vid{
	text-align:center;
	padding-top:50px;
	margin: 0; 
}
#form{
	color:white;
	text-align:center;
	font-size:500%;
}
#news{
	color:white;
	text-align:center;
	font-size:500%;
}
#media{
	color:white;
	text-align:center;
	font-size:500%;
}
#about{
	color:white;
	text-align:center;
	font-size:500%;
}
.login-page{
width:600px;
padding: 10% 0 0;
margin: auto;
}
.form{
	position:relative;
	z-index:1;
	background: black;
	max-width:600px;
	margin: 0 auto 100px;
	padding:45px;
	text-align:center;
}
.form input{
	font-family: "Roboto", sans-serif;
	outline:1;
	background: #f2f2f2;
	width: 100%;
	border:0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size:250%;
	
}
.form button{
	 background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
	font-size:250%;
    opacity: 0.9;	
}

.form button:hover,.form button:active{
	 background-color: #71c175;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
	font-size:250%;
    opacity: 0.9;	
}
.form .message{
	margin:15px 0 0;
	color: white;
	text-align:left;
	font-size:36px;
}
